
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1
/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="m-4">
    <h1 class="pb-4">Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
      <input type="text" name="question">
      <input class="rounded text-white" style="background-color: #3279B7;" type="submit" value="Ask!">
    </form>
  </div>
</body>
</html>
